body{
    margin: 0;
    background-color: #fffcdf;
    font-family: "Arial", "Microsoft JhengHei", sans-serif;
}


.topnav {
    background-color: #6fbb9a;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #fffcdf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.topnav a:hover {
    background-color: hotpink;
    color: white;
}
.topnav a.active {
    background-color: #d0e35b;
    color: white;
}


h1{
    text-align: center;
    color: #6fbb9a;
    margin: 30px 0 20px 0;
    font-size: 260%;
    letter-spacing: 3px;
}


#gameArea{
    width: 460px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #f69e9e;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

#buttonStart{
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #6fbb9a;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}
#buttonStart:hover{
    background-color: #d0e35b;
}

canvas{
    display: block;
    margin: 0 auto;
    background-color: #000;
    border: 4px solid #94c8b1;
    border-radius: 10px;
}
